<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Auth</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= favicon_link_tag 'auth-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'as-user' if user_signed_in? %> <%= 'as-admin' if admin_signed_in? %>">
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>

</body>
</html>
